<%- include("partials/header") %>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="">Title</label>
    <input style="background-color:#e0dede;" class="form-control" type="text" name="postTitle">
    <br>
    <label for="">Post</label>
    <textarea style="background-color:#e0dede;" class="form-control" name="postBody" rows="5" cols="40"></textarea>
    <br>
  <button type="submit"  class="btn btn-primary">Publish</button>
  </div>

</form>

<%- include("partials/footer") %>
