<%- include("partials/header") %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bbb693233d.js" crossorigin="anonymous"></script>
<div class="contact-page">
  <h1>CONTACT</h1>
  <p><%= contactContent%></p>
  <br><br><br><br>
  <a href="https://www.facebook.com/"> <i class="social-icons fab fa-facebook" id="fc-icon"></i></a>
  <a href="https://www.instagram.com/"><i class="social-icons fab fa-instagram-square" id="insta-icon"></i></a>
  <a href="https://twitter.com/"><i class="social-icons fab fa-twitter-square" id="twitter-icon"></i></a>
  <a href="https://mail.google.com/"><i class="social-icons fas fa-envelope" id="gmail-icon"></i></a>
</div>



<%- include("partials/footer") %>
