<%- include("partials/header") %>
<h1 style="text-align:center;">Your Action Is recieved ✔</h1>
<form class="" style="text-align: center; margin-top:100px;" action="/postcompose" method="post">
  <button type="submit"  class="btn btn-primary btn-lg "   >Go To Home</button>
</form>

<%- include("partials/footer") %>
